﻿@model Assignment1.Models.User

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


@using (Html.BeginForm()) {  
    @Html.ValidationSummary(true)  
  
  
    <fieldset>  
        <legend>User</legend>  
        @Html.AntiForgeryToken()  
        @if (ViewBag.Message != null)  
        {  
  
            <div style="border:solid 1px green">  
                 @ViewBag.Message  
            </div>  
        }  
        <div class="editor-label">  
          @Html.LabelFor(model => model.username)  
      </div>  
      <div class="editor-field">  
          @Html.EditorFor(model => model.username)  
          @Html.ValidationMessageFor(model => model.username)  
      </div>  
        <div class="editor-label">  
         @Html.LabelFor(model => model.Pass)  
      </div>  
      <div class="editor-field">  
          @Html.EditorFor(model => model.Pass)  
          @Html.ValidationMessageFor(model => model.Pass)  
      </div>  

          <div class="editor-label" hidden>  
         @Html.LabelFor(model => model.RoleId)  
      </div>  
      <div class="editor-field" hidden>  
          @Html.EditorFor(model => model.RoleId)  
          @Html.ValidationMessageFor(model => model.RoleId)  
      </div>  
      <p>  
          <input type="submit" value="Login" />  
      </p>  
   </fieldset>  
}  
  
  
<div>  
   @Html.ActionLink("Back to List", "Register")  
</div>  

