﻿@model Assignment1.Models.User

@{
    ViewBag.Title = "Insertdate";
}

<h2>Insertdate</h2>

@using (Html.BeginForm()) {  
    @Html.ValidationSummary(true)  
  
  
    <fieldset>  
        <legend>User</legend>  
        @Html.AntiForgeryToken()  
        @if (ViewBag.Message != null)  
        {  
  
            <div style="border:solid 1px green">  
                 @ViewBag.Message  
            </div>  
        }  
  
       <div class="editor-label">  
          @Html.LabelFor(model => model.UserId)  
       </div>  
      <div class="editor-field">  
         @Html.EditorFor(model => model.UserId)  
         @Html.ValidationMessageFor(model => model.UserId)  
      </div>  
      <div class="editor-label">  
          @Html.LabelFor(model => model.Name)  
       </div>  
      <div class="editor-field">  
         @Html.EditorFor(model => model.Name)  
         @Html.ValidationMessageFor(model => model.Name)  
      </div>  
        <div class="editor-label">  
          @Html.LabelFor(model => model.username)  
      </div>  
      <div class="editor-field">  
          @Html.EditorFor(model => model.username)  
          @Html.ValidationMessageFor(model => model.username)  
      </div>  
        <div class="editor-label">  
         @Html.LabelFor(model => model.Pass)  
      </div>  
      <div class="editor-field">  
          @Html.EditorFor(model => model.Pass)  
          @Html.ValidationMessageFor(model => model.Pass)  
      </div>  

      <div class="editor-label">  
            @Html.LabelFor(model => model.Email)  
      </div>  
      <div class="editor-field">  
          @Html.EditorFor(model => model.Email)  
          @Html.ValidationMessageFor(model => model.Email)  
      </div>  
      <div class="editor-label">  
         @Html.LabelFor(model => model.number)  
      </div>  
      <div class="editor-field">  
          @Html.EditorFor(model => model.number)  
          @Html.ValidationMessageFor(model => model.number)  
      </div>  
      
      <div class="editor-label">  
         @Html.LabelFor(model => model.RoleId)  
      </div>  
      <div class="editor-field">  
          @Html.EditorFor(model => model.RoleId)  
          @Html.ValidationMessageFor(model => model.RoleId)  
      </div>  
      <p>  
          <input type="submit" value="Create" />  
      </p>  
   </fieldset>  
}  
  
  
<div>  
   @Html.ActionLink("Back to List", "Register")  
</div>  
